.main_main{
  margin:30px;
}
.weather-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin:50px;
}
.weather_box1 {
    position: relative;
    top: 50%;
    margin: 0px 1vw;
    text-align: center;
}
.weather_box2{
  position: relative;
  top: 10%;
  margin: 0px 1vw;
  margin-top: 200px;
  text-align: center;
}
.weather_box3{
      position: relative;
      top: 10%;
      margin: 0px 1vw;
      margin-top:50px;
      text-align: center;
}
.img{
  width:100px;
  height: 100px;
}
@media(min-width:551px){
  .weather-container{
    display:grid;
        grid-template-rows: 1fr 1fr 1fr;
  }
  #water{
    height:55%;
  }
}



#weather_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 0;
    display:inline-grid;
}
.weather_box3{
  position: relative;
  top: 10%;
  margin: 0px 1vw;
}
.contents{
  margin-top: 50px;
}

/* ------------모바일 최적화------------ */
@media(max-width:550px) {
  #water{
    height:40%;
    padding-top:20px;
  }
  .weather-container{
    margin:0;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    }
  .contents{
    margin-top:0px;
  }
  .weather-box3{
    margin-top: 5px;
  }
}
